In [7]:
magicians=['alice','sujan','carolina','Rocky']
for magician in magicians:
    print("Hello"+ " "+ magician +", It is good to see you.")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
print("Thank you, everyone. That was a great magic show!")

Hello alice, It is good to see you.
I can't wait to see your next trick, Alice.

Hello sujan, It is good to see you.
I can't wait to see your next trick, Sujan.

Hello carolina, It is good to see you.
I can't wait to see your next trick, Carolina.

Hello Rocky, It is good to see you.
I can't wait to see your next trick, Rocky.

Thank you, everyone. That was a great magic show!

In [10]:
for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [14]:
num=list(range(1,100))
print(num)
num=list(range(2,99,2))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [23]:
squares=[]
for item in range(1,100):
     squares.append(item**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [26]:
digit=[1,2,3,4,5,6,7,8,9,0]
max(digit)
min(digit)
sum(digit)

45

In [29]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
print(sum([value for value in range(1,100)]))

4950

In [42]:
q=[value**3 for value in range(1,11)]
print(q)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [46]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [51]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 
print(players[1:])
print(players[-4:])
for player in players[:3]:
    print(player.title())
print(players[:])

['martina', 'michael', 'florence', 'eli']
['martina', 'michael', 'florence', 'eli']
Charles
Martina
Michael
['charles', 'martina', 'michael', 'florence', 'eli']

In [58]:
dimensions=(1,10,5,4,"3D Objects")
dimensions[0]=5
# creates error in the python print(dimensions[0])
for dimension in dimensions:
    print(dimension)

TypeError: 'tuple' object does not support item assignment

In [59]:
dimensions=(1,10,5,4,"3D Objects")
for dimension in dimensions:
    print(dimension)

1
10
5
4
3D Objects

In [60]:
dimension=(1,2,3,4)
print("Original dimension:",dimension)
dimension=(9,8,7,6)
print("Duplicate dimension:",dimension)

Original dimension: (1, 2, 3, 4)
Duplicate dimension: (9, 8, 7, 6)